<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <table class="table table-sm table-dark">
        <tr>
            <td>
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
            </td>
            <td>
                <form class="d-flex" th:action="@{/}" method="GET">
                    <input class="form-control me-2" type="text" name="searchName" placeholder="search by name"
                           aria-label="Search" th:value="${name}">
<!--                    <input class="form-control me-2" type="search" name="class_search" placeholder="search by class name"-->
<!--                           aria-label="Search">-->
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
            </td>
        </tr>
    </table>
</nav>

<div class="row">
    <div class="col">
    </div>
    <div class="col-10">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Class Room</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,state:${studentList}">
                <td><p th:text="${state.count}"></p></td>
                <td><p th:text="${item.name}"></p></td>
                <td><p th:text="${#dates.format(item.birthday,'dd/MM/yyyy')}"></p></td>
                <td><p th:text="${#dates.format(item.checkIn,'dd/MM/yyyy')}"></p></td>
                <td><p th:text="${#dates.format(item.checkOut,'dd/MM/yyyy')}"></p></td>
                <td><p th:text="${item.classRoom.name}"></p></td>
                <td>
                    <button th:onclick="showFormEdit([[${item.id}]],[[${item.name}]],[[${item.birthday}]],[[${item.checkIn}]],
                    [[${item.checkOut}]],[[${item.classRoom.id}]])"
                            type="button"
                            class="btn btn-outline-warning"
                            data-bs-toggle="modal" data-bs-target="#editModal">
                        <i class="fa-solid fa-highlighter"></i>
                    </button>
                    <button th:onclick="showFormDelete([[${item.id}]],[[${item.name}]])"
                            type="button"
                            class="btn btn-outline-warning"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">
                        <i class="fa-solid fa-eraser"></i>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="col">
    </div>
</div>

<div style="text-align: center">
    <span>
        <a th:if="${studentList.hasPrevious()}"
           th:href="@{/(page = ${studentList.number - 1}, searchName = ${name})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,studentList.totalPages - 1)}">
        <a th:href="@{/(page = ${pageNo}, searchName = ${name})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${studentList.hasNext()}"
           th:href="@{/(page = ${studentList.number +1}, searchName = ${name})}">Next</a>
    </span>
</div>

<!--create-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="example1ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Create Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tr>
                        <td>Name</td>
                        <td>
                            <label>
                                <input type="text" id="create-name">
                                <span style="color: red" id="error-create-name"></span>
                            </label>

                        </td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>
                            <label>
                                <input type="date" id="create-birthday">
                                <span style="color: red" id="error-create-birthday"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Check In</td>
                        <td>
                            <label>
                                <input type="date" id="create-checkIn">
                                <span style="color: red" id="error-create-checkIn"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Check Out</td>
                        <td>
                            <label>
                                <input type="date" id="create-checkOut">
                                <span style="color: red" id="error-create-checkOut"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Class Room</td>
                        <td>
                            <label>
                                <select id="create-classRoom">
                                    <option value=""> --</option>
                                    <option th:each="c : ${classList}" th:value="${c.id}" th:text="${c.name}"/>
                                </select>
                            </label>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createButton">Create Student</button>
            </div>

        </div>
    </div>
</div>

<!--edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="example1ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example2ModalLabel">Edit Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="edit-id" type="hidden">
                <table class="table table-hover">
                    <tr>
                        <td>Name</td>
                        <td>
                            <label>
                                <input type="text" id="edit-name">
                                <span style="color: red" id="error-edit-name"></span>
                            </label>

                        </td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>
                            <label>
                                <input type="date" id="edit-birthday">
                                <span style="color: red" id="error-edit-birthday"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Check In</td>
                        <td>
                            <label>
                                <input type="date" id="edit-checkIn">
                                <span style="color: red" id="error-edit-checkIn"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Check Out</td>
                        <td>
                            <label>
                                <input type="date" id="edit-checkOut">
                                <span style="color: red" id="error-edit-checkOut"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Class Room</td>
                        <td>
                            <label>
                                <select id="edit-classRoom">
                                    <option th:each="c : ${classList}" th:value="${c.id}" th:text="${c.name}"/>
                                </select>
                            </label>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editButton">Edit Student</button>
            </div>

        </div>
    </div>
</div>

<!--delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Modal</h5>

            </div>
            <div class="modal-body">
                <input type="hidden" id="delete-id">
                Are you sure delete<span id="delete-name"></span> ?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deleteButton" class="btn btn-danger">Delete Student</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#createButton").on("click", function () {
            createStudent();
        });
        $("#editButton").on("click", function () {
            editStudent();
        });
        $("#deleteButton").on("click", function () {
            deleteStudent();
        });
    });

    function createStudent() {
        let name = $('#create-name').val();
        let birthday = $('#create-birthday').val();
        let checkIn = $('#create-checkIn').val();
        let checkOut = $('#create-checkOut').val();
        let classRoom = $('#create-classRoom').val();
        let data = {
            name: name,
            birthday: birthday,
            checkIn: checkIn,
            checkOut: checkOut,
            classRoom: classRoom
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(data),
            url: "http://localhost:8080/api/create",
            success: function () {
                window.location.href = "/"
            }
        });
    }

    function showFormEdit(id, name, birthday, checkIn, checkOut, classRoom) {
        document.getElementById("edit-id").value = id;
        document.getElementById("edit-name").value = name;
        document.getElementById("edit-birthday").value = birthday;
        document.getElementById("edit-checkIn").value = checkIn;
        document.getElementById("edit-checkOut").value = checkOut;
        document.getElementById("edit-classRoom").value = classRoom;
    }

    function editStudent() {
        let id = $('#edit-id').val();
        let name = $('#edit-name').val();
        let birthday = $('#edit-birthday').val();
        let checkIn = $('#edit-checkIn').val();
        let checkOut = $('#edit-checkOut').val();
        let classRoom = $('#edit-classRoom').val();
        let data = {
            id: id,
            name: name,
            birthday: birthday,
            checkIn: checkIn,
            checkOut: checkOut,
            classRoom: classRoom
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",
            data: JSON.stringify(data),
            url: "http://localhost:8080/api/edit",
            success: function () {
                window.location.href = "/"
            }
        });
    }

    function showFormDelete(id, name) {
        document.getElementById("delete-id").value = id;
        document.getElementById("delete-name").innerText = name;
    }

    function deleteStudent() {
        let id = $('#delete-id').val();
        $.ajax({
            type: "DELETE",
            url: `http://localhost:8080/api/delete/${id}`,
            success: function () {
                window.location.href = "/"
            }
        });
    }
</script>
</body>
</html>