<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Student List</h3>
<p>
    <a th:href="@{/student/create}">
        Add new student
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "students">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Date Of Birth</th>
        <th>Class</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s,status : ${studentList}">
        <td th:text="${status.count}"></td>
        <td th:text="${s.studentName}"></td>
        <td th:text="${s.age}"></td>
        <td th:text="${#dates.format(s.dateOfBirth, 'dd-MM-yyyy')}"></td>
        <td th:text="${s.classRoom.className}"></td>
        <td><a th:href="@{/student/{id}/edit(id=${s.id})}">edit</a></td>
        <td>
            <button th:onclick="deleteInfo([[${s.id}]], [[${s.studentName}]])" type="button" class="btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#delete">
                delete
            </button>
        </td>
        <td><a th:href="@{/student/{id}/view(id=${s.id})}">view</a></td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" th:action="@{/student/delete}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Modal title</h5>
                    <input hidden name="id" id="deleteId">
                </div>
                <div class="modal-body">
                    <span>Bạn có muốn xoá học sinh </span><span id="deleteName"></span><span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function deleteInfo(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>